.centroinfo{
    text-align: center;
}
body {
    background-image: url("IMG/fondo2posible.jpg")  ;
    padding-left: 15%;
    padding-right: 25%;
    padding-top: 5%;
    background-attachment: fixed;
    background-position: center;
}